
$width: 70vw;

$grey: #666;
$greyHover: #aaa;
$black: black;

a {
    color: #666;
    text-decoration: none;
    &:hover{
      color: #aaa;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
