$width: 85vw;

$grey: #666;
$littleGrey: #e6e6e0;
$lightGrey: #b5b4b4;
$anotherGrey: #5f5b5b;
$otherGrey: #777676;
$fontTopGrey: #a6a6a4;
$greyHover: #aaa;
$greyWhite: #f5f5f5;

$tabGrey: #cccccc;

$butonBg: #eee;

$black: black;
$fontColor: #999;
$green: #57ba59;
$darkGreen: #526652;
$darkHoverGreen: #56A857;
$hoverGreen: #63d465;

* {
  font-family: 'helvetica neue', helvetica, arial, 'hiragino sans gb', stheiti;
  // word-break: break-all;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  cursor: pointer;
  color: #666;
  text-decoration: none;

  &:hover {
    color: #aaa;
  }
}

img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

@mixin single-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin muti-overflow($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}
